[Unit]
Description=FunderMaps ETL - Export Product
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="IMAGE=fundermaps-sdk:latest"
# ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStart=/usr/bin/docker run --rm --name fundermaps-export-product --env-file /etc/fundermaps/config.env ${IMAGE} export_product.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target