# Version control
.git/
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Environment files
.env
*.env
*.example

# Docker
Dockerfile
.dockerignore

# Dev/editor config
.devcontainer/
.github/
.ruff_cache/
.mypy_cache/
.pytest_cache/
htmlcov/
*.tmp
*.log
