# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variable files
.env
*.env

# Ignore temporary files
*.tmp
*.log

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore any other unnecessary files
*.example

# Ignore the Python virtual environment
.venv
